<html>
<head>
    <title>Confirm Account</title>
</head>
<body>
    <p style="font-size: 2rem; color: darkgreen; font-weight: bold; text-align: left; font-family: Serif;">
        Password Recovery
    </p>
    <p>Please, follow the link to recover your password: <a href="{{ link }}">{{ link }}</a></p>
</body>
</html>
